.smooth-scroll {
  scroll-behavior: smooth;
}
.transition-1s {
  transition: 1s all;
}
/* Toast Message Animation */
@keyframes toast-in {
  from {
    transform: translateY(-100%);
  }
  to {
    transform: translateY(0);
  }
}

@keyframes toast-out {
  from {
    transform: translateY(0);
  }
  to {
    transform: translateY(-100%);
  }
}

.animate-toast-in {
  animation: toast-in 0.5s ease forwards;
}

.animate-toast-out {
  animation: toast-out 0.5s ease forwards;
}
